# Generic python dependencies
black==24.10.0
mypy==1.14.0
pip==24.3.1
pre-commit==4.0.1
ruff==0.8.4

# Home Assistant testing dependencies
pytest-homeassistant-custom-component==0.13.197
syrupy>=4.6.1

# Component dependencies
hassil>=2.0.4
home-assistant-intents>=2024.4.3
voluptuous-stubs>=0.1.1
mutagen>=1.47.0
ha-ffmpeg>=3.2.0
pymicro_vad>=1.0.1
pyspeex_noise>=1.0.2
audioop-lts>=0.2.1
