# Generic python dependencies
black==24.4.2
mypy==1.11.0
pip==24.2
pre-commit==3.8.0
ruff==0.5.5

# Home Assistant testing dependencies
pytest-homeassistant-custom-component==0.13.147
syrupy==4.6.1

# Component dependencies
hassil>=1.7.0
home-assistant-intents>=2024.4.3
voluptuous-stubs>=0.1.1
mutagen>=1.47.0
ha-ffmpeg>=3.2.0
